<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to HakataAPI!</title>
		<style>
			html {
				font-family: Arial, "MS Trebuchet", sans-serif;
				color: darkslategray;
				padding: 120px;
			}
			a {
				color: deepskyblue;
				text-decoration: none;
				font-weight: bold;
			}
			h1 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to HakataAPI</h1>
		<p>API docs may be found in <a href="https://github.com/hakatashi/api.hakatashi.com">GitHub repository</a>. Maybe...</p>
	</body>
</html>
